body {
	cursor: default;
	-webkit-user-select: none;
	        user-select: none;
}

label, textarea {
	display: block;
	white-space: nowrap;
}
textarea {
	line-height: 1.2;
	resize: none;
}
input[type="checkbox"] {
	vertical-align: top;
}
input[type="number"], .ruler {
	text-align: right;
}

.gutter {
	display: block;
	position: absolute;
	overflow: hidden;
	pointer-events: none;
}
.ruler {
	border-color: transparent;
	overflow: hidden;
	background: none;
}

.margin {
	margin-top: 0.5em;
}
.labels label {
	display: inline-block;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}
.left  { float: left; }
.right { float: right; }

.wide {
	box-sizing: border-box;
	width: 100%;
}

.dirty {
	box-shadow: inset 0 -3px 0 0 #4285f4;
}
