#hdtb-msb, .tAcEof {
	visibility: hidden;
}
.gmf-fixed #hdtb-msb,
.gmf-fixed .tAcEof {
	visibility: visible;
}

.f9UGee:hover, .cF4V5c-ibnC6b:hover {
	background: rgba(0,0,0,0.1);
}

.gmf-hide .exp-outline,
.gmf-hide .AUiS2 {
	display: none !important;
}
