#hdtb-msb {
	visibility: hidden;
}
.gmf-fixed #hdtb-msb {
	visibility: visible;
}

.f9UGee:hover {
	background: rgba(0,0,0,0.1);
}

.gmf-hide .exp-outline,
.gmf-hide .AUiS2 {
	display: none !important;
}
